{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Todo Woo</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'index.css' %}">

</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light bg-warning">
        <div class="container">
            <a class="navbar-brand" href="">
                <span>Todo Woo</span>
            </a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">

                    <!-- if user is logged in -->
                    {% if user.is_authenticated %}
                    <p>Logged In as {{ user.username }}</p>
                    <li class="nav-item">
                        <form action="/logout" method="POST">
                            <button type="submit">logout</button>
                            {% csrf_token %}
                        </form>
                    </li>

                    <!-- if user is not logged in -->
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/signup" method="GET">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login" method="GET">Login</a>
                    </li>
                    {% endif %}


                </ul>
            </div>
        </div>
    </nav>
    {% block content %}{% endblock %}
</body>

</html>