{% extends "index.html" %}

{% block content %}
{% if user.is_authenticated %}
<div id="title-area">
    <h1 id="title">{{ user.username }}'s Todos</h1>
    <a href="/createtodo"><button type="button" class="btn btn-primary">Add a Todo</button></a>
</div>

<div id="content-area">
{% for todo in todos %}
    <div id="content">
        <div class="card border-success mb-3" >
                <p>{{ todo.title }}</p>
                <p>{{ todo.memo }}</p>
                <p>{{ todo.important }}</p>
                <p>{{ todo.created }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}

{% endblock %}