{% extends "index.html" %}

{% block content %}
{% if user.is_authenticated %}
<div id="title-area">
    <h1 id="title">{{ user.username }}'s Todos</h1>
    <a href="/createtodo"><button type="button" class="btn btn-primary">Add a Todo</button></a>
</div>

<div id="content">
    <div class="card border-success mb-3" style="max-width: rem;">
        <div class="card-header">
            <h3>{{ user.username }}'s Todos</h3>
        </div>

        <div class="card-body">
            <div class="card border-sucess">
                <p>test</p>
            </div>
            <p id="error-message" class="text-danger">{{ errors }}</p>
            <form action="/signup" method="POST">
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Sign Up</button>
                {% csrf_token %}
            </form>
        </div>



    </div>
</div>
{% endif %}

{% endblock %}