/*** TITLE ***/
#title-area {
    display: flex;
    justify-content: center;
    flex-flow: column;
    margin: 20px;
}

#title-area h1,
#title-area a,
#title-area button {
    text-align: center;
}

#error-message {
    text-align: center;
}


/*** CONTENT ***/
#content-area {
    display: flex;
    justify-content: center;
    flex-flow: row;
    flex-wrap: nowrap;
}

#content-area #content {
    display: flex;
    justify-content: center;
    margin: 50px 5px;
    width: 25%;
}

#content-area .border-success {
    width: 100%;
    padding: 10px;
}

#content-area p {
    text-align: center;
}

#content-area .card div {
    display: flex;
    justify-content: center;
}


/*** account ***/
#account-area {
    display: flex;
    justify-content: center;
}