/*** CONTENT ***/
#content {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.card-header h3 {
    text-align: center;
}

#error-message {
    text-align: center;
}

#title-area {
    display: flex;
    justify-content: center;
    flex-flow: column;
    margin: 20px;
}

#title-area #title,
#title-area a,
form button {
    text-align: center;
}


/*** form ***/
form {
    display: flex;
    justify-content: center;
}